- title I18n.t('edit_profile_title', :name => @user.user_name)

%h2.heading= I18n.t('edit_profile_title', :name => @user.user_name)

- semantic_form_for(@user, :url => update_details_general_user_path(@user), :html => { :class => 'signForm wideForm', :id => 'sing_up_form', :multipart => true }) do |form|
  - form.inputs do
    = form.input :email, :input_html => { :class => 'input-s' }
    = form.input :password, :input_html => { :class => 'input-s' }
    = form.input :password_confirmation, :input_html => { :class => 'input-s' }
  - form.buttons do
    = form.submit t('update_action')
    = link_to t('cancel_action'), general_dashboard_path