- content_tag_for(:tr, garage, :class => cycle(:odd, :even)) do
  %td= link_to garage.uuid, resource_path(garage)
  %td
    %strong= h garage.title
    - if garage.hot?
      .hot hot
  %td= h garage.address
  %td= h garage.format_square_format(:square)
  %td= garage.full_price(:price_cached)
  %td= l garage.created_at.to_date, :format => :default
  %td= l garage.published_to, :format => :default
  %td.actions
    = link_to t('show_action'), resource_path(garage)
    |
    = link_to t('edit_action'), edit_resource_path(garage)
    |
    = link_to t('delete_action'), resource_path(garage), :confirm => t('are_you_sure'), :method => :delete