%h1.heading
  = "Garage %s" % @garage.id
  
- content_tag_for(:dl, @garage) do
  %dt.label= 'Title'
  %dd.title= h @garage.try(:title)
  %dt.label= 'I am type'
  %dd.i_am_type= h @garage.try(:i_am_type)
  %dt.label= 'O'
  %dd.o_id= h @garage.try(:o_id)
  %dt.label= 'M'
  %dd.m_id= h @garage.try(:m_id)
  %dt.label= 'Address'
  %dd.address= h @garage.try(:address)
  %dt.label= 'Square'
  %dd.square= h @garage.try(:square)
  %dt.label= 'Adv text'
  %dd.adv_text= h @garage.try(:adv_text)
  %dt.label= 'Price'
  %dd.price= h @garage.try(:price)
  %dt.label= 'Currency'
  %dd.currency_id= h @garage.try(:currency_id)
  %dt.label= 'Price cached'
  %dd.price_cached= h @garage.try(:price_cached)
  %dt.label= 'Contact phone'
  %dd.contact_phone= h @garage.try(:contact_phone)
  %dt.label= 'Contact email'
  %dd.contact_email= h @garage.try(:contact_email)
  %dt.label= 'User'
  %dd.user_id= h @garage.try(:user_id)
  
%p.actions
  = link_to 'Edit', edit_resource_path(@garage)
  |
  = link_to 'Index', collection_path