- title t('garage_show_title', :g => @garage.uuid)

.actions-bar
  = link_to t('edit'), edit_resource_path(@garage)
  |
  = link_to t('back'), collection_path    

%p.actions
  %h1= t('garage_show_title', :g => @garage.uuid)
  
- content_tag_for(:dl, @garage) do
  %dt= t('activerecord.attributes.garage.title')
  %dd= h @garage.title
  %dt= t('activerecord.attributes.garage.i_am_type')
  %dd= t @garage.i_am_type
  %dt= t('activerecord.attributes.garage.city')
  %dd= h @garage.city.name
  %dt= t('activerecord.attributes.garage.address')
  %dd= h @garage.address
  %dt= t('activerecord.attributes.garage.square')
  %dd= h @garage.format_square_format(:square)
  %dt= t('activerecord.attributes.garage.adv_text')
  %dd= h @garage.adv_text
  %dt= t('activerecord.attributes.garage.price')
  %dd= @garage.full_price(:price_cached)
  %dt= t('activerecord.attributes.garage.contact_phone')
  %dd= h @garage.contact_phone
  %dt= t('activerecord.attributes.garage.contact_email')
  %dd= h @garage.contact_email
  %dt= t('activerecord.attributes.garage.user_id')
  %dd= h @garage.user.user_name
  
%p.actions
  = link_to t('edit'), edit_resource_path(@garage)
  |
  = link_to t('back'), collection_path