.center_block
  %h2= t('sign_in')
  - semantic_form_for :session, :url => session_path do |form|
    - form.inputs do
      = form.input :email, :input_html => { :class => 'input-s' }, :label => t('activerecord.attributes.session.email')
      = form.input :password, :as => :password, :input_html => { :class => 'input-s' }, :label => t('activerecord.attributes.session.password')
    - form.buttons do
      = form.commit_button t('sign_in_button')
  %ul
    %li= link_to t('sign_up'), sign_up_path
    %li= link_to t('forgot_password'), new_password_path