- form.inputs do
  = form.input :title, :label => 'Title'
  = form.input :i_am_type, :label => 'I am type'
  = form.input :o_id, :label => 'O'
  = form.input :m_id, :label => 'M'
  = form.input :address, :label => 'Address'
  = form.input :square, :label => 'Square'
  = form.input :adv_text, :label => 'Adv text'
  = form.input :price, :label => 'Price'
  = form.input :currency_id, :label => 'Currency'
  = form.input :price_cached, :label => 'Price cached'
  = form.input :contact_phone, :label => 'Contact phone'
  = form.input :contact_email, :label => 'Contact email'
  = form.input :user_id, :label => 'User'
