%h1.heading= realty_list_page_title('view_garages_title')

.actions-bar
  %div{:class => "left search"}
    - form_for @search do |f|
      = f.label "Find:"
      = f.text_field :title
      = f.submit("Search")
  .right
    = will_paginate @collection, :prev_label => "&laquo; Back", :next_label => "Next &raquo;"
  .clear                                                                                     
  
%p.actions
  = link_to 'New Garage', new_resource_path
  
%table
  %thead
    %tr
      %th.title= 'Title'
      %th.i_am_type= 'I am type'
      %th.address= 'Address'
      %th.square= 'Square'
      %th.adv_text= 'Adv text'
      %th.price= 'Price'
      %th.currency_id= 'Currency'
      %th.price_cached= 'Price cached'
      %th.contact_phone= 'Contact phone'
      %th.contact_email= 'Contact email'
      %th.user_id= 'User'
      %th.actions= 'Actions'
  %tbody.items.garages
    - @garages.each do |garage|
      = render 'item', :garage => garage

= will_paginate @collection, :prev_label => "&laquo; Back", :next_label => "Next &raquo;"
 
