- content_for :left_content do
  .tabs
    .tab.selected{:href => '#quick_search'}
      %span= t('quick_search_tab')
    .tab{:href => '#directions_search'}
      %span= t('lay_route_tab')
    .tab.none{:id => 'search_results_tab', :href => '#search_results'}
      %span= t('results_tab')
  .boxes
    - cache("quick_search_#{I18n.locale.to_s}") do
      #quick_search.box.selected
        %div
          %h2= t('box_uk_map')
        .small_box
          %ul
            - PopularUkCity.all.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
          %div.show_all
            %strong
              = link_to t('box_uk_map_all'), os_path
        %div
          %h2= t('box_routes')
        .small_box
          %ul
            - MapRoute.limited(32).random.sort{|a, b| a.from_full<=>b.from_full}.each do |o|
              %li= link_to o.route_name, map_route_path(o)
          %div.show_all
            %strong
              = link_to t('box_routes_all'), routes_os_path
        %div
          %h2= t('box_rus_map')
        .small_box
          %ul
            - PopularRuCity.limited(32).random.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
          %div.show_all
            %strong
              = link_to t('box_rus_map_all'), rus_cities_path
        %div
          %h2= t('box_bel_map') 
        .small_box
          %ul
            - PopularByCity.limited(32).random.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
          %div.show_all
            %strong
              = link_to t('box_bel_map_all'), bel_cities_path
        %div
          %h2= t('box_world_map')  
        .small_box
          %ul
            - PopularCountry.limited(32).random.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
          %div.show_all
            %strong
              = link_to t('box_world_map_all'), countries_maps_path
        %div
          %h2= t('box_reg_map') 
        .small_box
          %ul
            - PopularUkRegion.all.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
        %div
          %h2= t('box_states_map')
        .small_box
          %ul
            - PopularState.limited(32).random.sort{|a, b| a.name<=>b.name}.each do |o|
              %li= link_to o.name, o
          %div.show_all
            %strong
              = link_to t('box_states_map_all'), states_maps_path
    #directions_search.box
      #directions_box
      - form_tag directions_path, :class => 'directions_form', :id => 'directions_form', :method => :get do
        %fieldset
          %legend= t('directions_legend')
          %div
            = text_field_tag 'from', h(@from), :class => 'input-s qinput gsinput', :title => t('directions_from_title'), :id => 'from'
            = image_tag 'question.png', :class => 'question_mark'   
            %span.help_mark_info.none
              = t('directions_help')
            %span
          %div.for_example_block
            %span.for_example= t('directions_for_example')
            %span.qs= t('city1')
            %span.qs= t('city2')
            %span.qs= t('city3') 
          %div
            = text_field_tag 'to', h(@to), :class => 'input-s qinput gsinput', :title => t('directions_to_title'), :id => 'to'
            = image_tag 'question.png', :class => 'question_mark'   
            %span.help_mark_info.none
              = t('directions_help')
            %span
          %div.for_example_block
            %span.qs.margin_padding_none= t('city4')
            %span.qs= t('city5')
            %span.qs= t('city6')
            %span.qs= t('city7')
            %span.qs= t('city8')
          %div.right_block
            = submit_tag t('search_button')
          %div.total_distance.none
            %strong= t('route_full_title', :from => h(@from), :to => h(@to))
            %br
            %strong.total_distance_value
          %div.help_notice.none
            %strong= t('suggestion_text')
            %i= t('suggestion_full_text', :str => image_tag('mm_20_yellow.png'))
      #directions
    #search_results.box
      %h1
        = t('search_results_map_label')
        %address= h(@m.try(:name) || @q)
  .clear

- content_for :on_ready do
  log('onready started');
  init_tabs();
  init_quick_search();
  init_search_bar();
  init_submit_form('#search_form', '#q');
  init_submit_form('#directions_form', '#from');
  init_submit_form('#directions_form', '#to');
  init_search_form();
  - if directions_page?
    initialize();
    init_resize_map();
    log('destination page detected.');
    process_destination_search();
  - if search_page? || show_page?
    initialize();
    init_resize_map();
    log('search page detected.');
    process_city_search_from_search_box();
  - if home_page?
    open_tab(QUICK_SEARCH_TAB_INDEX);