- content_tag_for(:tr, city, :class => cycle(:odd, :even)) do
  %td
    %strong= h city.name_uk
    = '/'
    %span= h city.name_ru
  %td= h city.region.name_uk
  %td= city.as_translation(:top_city)
  %td.actions
    = link_to t('show_action'), resource_path(city)
    |
    = link_to t('edit_action'), edit_resource_path(city)
    |
    = link_to t('delete_action'), resource_path(city), :confirm => t('are_you_sure'), :method => :delete