%h1.heading Міста

.actions-bar
  %div{:class => "left search"}
    - form_for @search do |f|
      = f.text_field :name_uk, :class => 'input-s'
      = f.submit("Фільтр")
  
%p.actions
  = link_to 'Додати місто', new_resource_path

.clear
= will_paginate @collection
.clear

  
%table
  %thead
    %tr
      %th= order @search, :by => :name_uk, :as => 'Назва'
      %th= order @search, :by => :region_id, :as => 'Область'
      %th= order @search, :by => :top_city, :as => 'В основному списку'
      %th.actions Дії
  %tbody.items.cities
    - @cities.each do |city|
      = render 'item', :city => city

= will_paginate @collection
 
