- content_tag_for(:tr, user, :class => cycle(:odd, :even)) do
  %td= user.id
  %td
    = link_to h(user.company_name), user
  %td
    = h user.user_name
    = mail_to h(user.email)
  %td= l user.created_at.to_date, :format => :long
  %td.actions
    = link_to t('show_action'), resource_path(user)
    |
    = link_to t('edit_action'), edit_resource_path(user)
    |
    = link_to t('delete_action'), resource_path(user), :confirm => t('are_you_sure'), :method => :delete
    - if !user.email_confirmed?
      |
      = link_to t('confirm_action'), confirm_admin_user_path(user), :confirm => t('are_you_sure')