- title "Адмінка - #{'Редагувати користувача: %s' % @user.user_name}"

%p
  = link_to '&larr; назад', admin_dashboard_path

%h1.heading
  = "Редагувати користувача: %s" % @user.user_name

- semantic_form_for([:admin, @user], :html => { :class => 'signForm wideForm', :id => 'sing_up_form', :multipart => true }) do |form|
  = render 'form', :form => form
  - form.inputs do
    = form.input :role, :as => :radio, :collection => ROLES_ARRAY
  - form.buttons do
    = form.submit t('update_action')
    = link_to t('cancel_action'), collection_path