- title "Admin - Users"

%p
  = link_to '&larr; back', admin_dashboard_path
  
%p
  %h1.heading== Users (total: #{User.count})

%p
  %h2 Search
  - form_tag admin_users_path, :method => :get do
    = text_field_tag 'q', params["q"], :size => 30
    = submit_tag 'Search'
%br

- unless @users.empty?
  %table
    %thead
      %tr
        %th id
        %th Company Name
        %th User Name
        %th Plan
        %th Reg.
        %th Actions
    %tbody
      - @users.each do |user|
        = render 'item', :user => user
  = will_paginate @users, :previous_label => "&laquo; Back", :next_label => "Next &raquo;" 
- else
  %div
    %strong List is empty.
