- title "Адмінка - Користувачі"

%p
  = link_to '&larr; назад', admin_dashboard_path
  
%p
  %h1== Користувачів (усього: #{User.count})

%p
  %h2 Фільтр
  - form_tag admin_users_path, :method => :get do
    = text_field_tag 'q', params["q"], :size => 30, :class => 'input-s'
    = submit_tag 'Фільтр'
%br

- unless @users.empty?
  %table
    %thead
      %tr
        %th id
        %th Назва Компанії
        %th Ім'я користувача
        %th Зареєстрований
        %th Дії
    %tbody
      - @users.each do |user|
        = render 'item', :user => user
  = will_paginate @users
- else
  %div
    %strong List is empty.
