- title "Адмінка - #{'користувач: %s' % @user.user_name}"

%h1.heading
  = "Користувач: %s" % @user.user_name
  
- content_tag_for(:dl, @user) do
  %dt Назва компанії:
  %dd= h @user.company_name
  %dt Ролі:
  %dd= h @user.roles_short
  %dt Зареєстрований:
  %dd= l @user.created_at, :format => :long
  
%p.actions
  = link_to t('edit_action'), edit_resource_path(@user)
  |
  = link_to 'назад до списку користувачів', collection_path