!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    == <title>#{(yield :title) || SEO[:title]}</title>
    == <meta content="#{(yield :seo_description) || SEO[:description]}" name="description" />
    == <meta content="#{(yield :seo_keywords) || SEO[:keywords]}" name="keywords" />
    %meta{ 'http-equiv' => 'imagetoolbar', :content => 'no' }
    %meta{ :name => 'distribution', :content => 'global' }
    %meta{ :name => 'robots', :content => 'all' }
    %meta{ :name => 'resource-type', :content => 'document' }
    %meta{ :name => 'MSSmartTagsPreventParsing', :content => 'true' }
    <meta content="en-US" http-equiv="Content-Language" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="google-site-verification" content="W-zSEruFNgP_WUzVHx6IMc7OJpBmbfbc-iGmEWau7RI" />
    <meta name='yandex-verification' content='4ec4957012f693fb' />
    <meta name="audience" content="all" />
    <meta name="revisit-after" content="5 days" />
    <meta content="Igor Kasyanchuk" name="author" />
    <meta content="Group" name="classification"/>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="address bar icon" href="/favicon.ico" />
    = stylesheet_link_tag 'reset', 'grid', 'content', 'style', 'custom', 'formtastic', 'compiled/tophouse', :cache => 'public_bundle' 
    =# javascript_include_tag 'jquery-1.4.2.min', 'jquery.form', 'jquery.colorbox-min', 'application', 'jquery.qtip-1.0.0-rc3.min', 'jquery.cookie', :cache => 'public_bundle'
    = javascript_include_tag 'jquery-1.4.2.min', 'overlay', 'application', :cache => 'public_bundle'
    /[if IE]
      = stylesheet_link_tag 'compiled/formtastic_ie'
    /[if IE 7]
      = stylesheet_link_tag 'compiled/formtastic_ie7'
    /[if lt IE 7]
      <script type="text/javascript" src="/javascripts/DD_belatedPNG_0.0.7a-min.js"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('.png_bg');
      </script>
    = yield :css
    %style{:type => 'text/css'}
      /* inline styles */
      = yield :inline_css
    = yield :map
    = yield :js
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = "window._token = '#{form_authenticity_token}';"
      = "window._auth_token_name = '#{request_forgery_protection_token}';"
      = "window._auth_token = '#{form_authenticity_token}';"
      = "var CURRENT_LOCALE = '#{I18n.locale.to_s}';"
      = "var TRANSLATIONS = #{t('js').to_json};"
      jQuery(document).ready(function() {
      initialize();
      = yield :on_ready
      });
      = yield :inline_script 
  %body
    #root
      %div.header_container
        %div.header
          .logo
            %h2.logo_title= link_to t('logo_main_title'), root_path
            %h2.logo_slogan
              %strong= sub_logo_text
          %ul.menu
            %li{:class => "#{'selected' unless home_page?}"}
              %strong= link_to 'Головна', '/'
            %li.add_realty_link{:class => "#{'selected' if home_page?}"}
              %strong= link_to 'Оголошення з нерухомості', '#'
            %li.rieltors_link
              %strong= link_to 'Ріелтори', '#'
            %li.agencies_link
              %strong= link_to 'Агенства нерухомості', '#'
            %li.companies_link
              %strong= link_to 'Будівельні компанії', '#'
            = yield :admin_menu
          %ul.submenu
            %li.charge_region
              = change_city_link
            - if logged_in?
              %li= link_to t('view_my_cabinet'), general_dashboard_path
              %li= link_to t('view_logout'), sign_out_path
            - else
              %li= link_to t('view_login'), sign_in_path
              %li= link_to t('view_register'), sign_up_path
          .add_realty_box
            = link_to 'Додати нерухомість', add_realty_path
        %div.line
      .add_realty{:class => "#{'none' unless home_page?}"}
        .add_realty_block
          .header_block
            %strong= t('view_title_sell')
            .row
              = link_to 'Квартиру', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row
              = link_to 'Квартиру (новобудова)', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row= link_to 'Особняк', root_path, :class => 'what'
            .row= link_to 'Комерційну нерухомість', root_path, :class => 'what'
            .row= link_to 'Гараж', garages_path(ADV_TYPE_SELL), :class => 'what'
            .row= link_to 'Земельну ділянку', root_path, :class => 'what'
            .row= link_to 'Складське приміщення', root_path, :class => 'what'
          .header_block
            %strong= t('view_title_buy')
            .row
              = link_to 'Квартиру', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row
              = link_to 'Квартиру (новобудова)', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row= link_to 'Особняк', root_path, :class => 'what'
            .row= link_to 'Комерційну нерухомість', root_path, :class => 'what'
            .row= link_to 'Гараж', garages_path(ADV_TYPE_BUY), :class => 'what'
            .row= link_to 'Земельну ділянку', root_path, :class => 'what'
            .row= link_to 'Складське приміщення', root_path, :class => 'what'
          .header_block
            %strong= t('view_title_give')
            .row
              = link_to 'Квартиру', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row= link_to 'Комерційну нерухомість', root_path, :class => 'what'
            .row= link_to 'Гараж', garages_path(ADV_TYPE_GIVE), :class => 'what'
            .row= link_to 'Складське приміщення', root_path, :class => 'what'
          .header_block
            %strong= t('view_title_rent')
            .row
              = link_to 'Квартиру', root_path, :class => 'what'
              = link_to '1', root_path, :class => 'option'
              = link_to '2', root_path, :class => 'option'
              = link_to '3', root_path, :class => 'option'
              = link_to '4+', root_path, :class => 'option'
              %span кім.
            .row= link_to 'Комерційну нерухомість', root_path, :class => 'what'
            .row= link_to 'Гараж', garages_path(ADV_TYPE_RENT), :class => 'what'
            .row= link_to 'Складське приміщення', root_path, :class => 'what'
          .clear
      %div.content
        .center_block
          = flash_messages
        = yield
      #root_footer
    #footer
      .line_before
      #footer_content
        .footer_block
          = link_to 'Про нас', root_path
          = link_to 'Реклама', root_path
          = link_to 'Новини', root_path
        .footer_block
          = link_to 'Головна', root_path
          = link_to 'Додати нерухомість', root_path
          = link_to 'Агенства нерухомості', root_path
          = link_to 'Агентам', root_path
        .footer_block
          = flag_link('uk', 'TopHouse.com.ua на українській')
          = flag_link('ru', 'TopHouse.com.ua на російській')
      .none.cities_popup
        = render :partial => '/cities/index'
      - if RAILS_ENV == 'production'
        = render :partial => '/shared/ga'